#informaion {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 92%;
  background-color: #F8F8F8;
  clip-path: circle(0px at 50% 100%);
  transition: all 1.5s ease;
}

#informaion.open {
  clip-path: circle(1000px at 50% 100%);
  transition: all 1.5s ease;
}

#temporary-button {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #F8F8F8;;
  color: black;
}

#top-menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 8%;
  width: 100%;
  height: 20vh;
}

#garbage-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: teal;
  margin: 10px 0 0 3px;
}

#top-right-div {
  position: relative;
  width: 68%;
}

#garbage-whereName {
  height: 29px;
  width: 170px;
  font-size: 24px;
  margin: 13px 0 0 0;
  overflow-x: auto;
  white-space: nowrap;
}

#prediction-time {
  font-size: 14px;
  margin: 10px 0 0 3px;
}

#garbage-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px 0 5px 0;
}

#garbage-icons .burnable-icon,.nonBurnable-icon,.petBottle-icon,.aluminumGlass-icon{
  position: relative;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
}

#info-start {
  width: 212px;
  height: 41px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 12px 0 12px 0;
  background-color: #0271B4;
  color: #F8F8F8;
}

#garbage-close {
  position: absolute;
  top: 17px;
  right: 23px;
  width: 25px;
  height: 25px;
  -webkit-mask: no-repeat center / 100% url(../../icon/cross-icon.svg);
  background-color: #404040;
}

.comment-box {
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
  height: 65vh;
}

.comment {
  display: flex;
  flex-direction: row;
  border-bottom: 1px #747474 solid;
  width: 100%;
}

.users-icon {
  width: 48px;
  height: 48px;
  margin: 25px 18px 25px 15px;
  -webkit-mask: no-repeat center / 110% url(../../icon/people.svg);
  background-color: #404040;
}

.comment-box-right {
  position: relative;
  width: 71%;
  margin: 0 25px 0 0;
}

.comment-text {
  width: 100%;
  margin: 25px 25px 25px 0;
  font-size: 18px;
}

.comment-time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  margin: 0 0 3px 0;
}

#comment-border {
  position: absolute;
  bottom: 20px;
  right: 13px;
  width: 44px;
  height: 44px;
  border: 1px #0271B4 solid;
  border-radius: 50%;
  background-color: #F8F8F8;
}

#comment-add-icon {
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center / 70% url(../../icon/comment.svg);
  background-color: #0271B4;
}
