*,
*::before,
*::after {
  box-sizing: border-box;
}

#topBar {
  width: 100%;
  height: 8vh;
  background-color: #0271B4;
  margin: 0;
  text-align: center;
  font-size: 150%;
  color: #F8F8F8;;
}

#return {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 50px;
  height: 45px;
  font-size: 50px;
}

#current-location {
  position: absolute;
  top: 18px;
  left: 35vw;
  margin: auto 0 auto 0;
  width: 30%;
}

#map {
  width: 100%;
  height: 92vh;
}

#filter-border {
  position: fixed;
  bottom: 15px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0;
  background-color: #0271B4;
  transition: all 1s ease;
}

#filter-icon {
  position: relative;
  top: 4px;
  right: -2px;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center / 70% url(../../icon/filter.svg);
  background-color: #F8F8F8;
  border-radius: 50%;
}

#filter-content {
  position: fixed;
  bottom: 15px;
  right: 0;
  background-color: #F8F8F8;
  width: 70vw;
  height: 60vh;
  border-radius: 50px 0 0 50px;
  margin: 0;
  text-align: right;
  clip-path: circle(0px at 84.7% 92.5%);
  -webkit-clip-path: circle(0px at 84.7% 92.5%);
  transition: all 1s ease;
}

#filter-content.open {
  clip-path: circle(1000px at 84.7% 92.5%);
  -webkit-clip-path: circle(1000px at 84.7% 92.5%);
}

.category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: calc(100% / 5);
  margin: 0;
}

.category div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.category-text {
  width: 120px;
  margin: 0;
}

  .category-border {
  width: 50px;
  height: 50px;
  border: 1px #0271B4 solid;
  border-radius: 50%;
  background-color: #F8F8F8;
}

.burnable-icon {
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-mask: no-repeat center / 80% url(../../icon/burnableGarbage.svg);
  background-color: #0271B4;
}

.nonBurnable-icon {
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-mask: no-repeat center / 80% url(../../icon/burnableGarbage.svg);
  -webkit-mask: no-repeat center / 45% url(../../icon/cross-icon.svg);
  background-color: #0271B4;
}

.petBottle-icon {
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-mask: no-repeat center / 80% url(../../icon/plasticBottle.svg);
  background-color: #0271B4;
}

.aluminumGlass-icon {
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-mask: no-repeat center / 80% url(../../icon/aluminumGlass-icon.svg);
  background-color: #0271B4;
}

#cross-icon {
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-mask: no-repeat center / 45% url(../../icon/cross-icon.svg);
  background-color: #0271B4;
}
